.main {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.section-rules {
    background: rgb(232,232,232);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.content-container {
    width: 74%;
}

.reasons-container, .answers-container, .rules-container {
    height: 787px;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .reasons-container, .answers-container, .rules-container {
        height: 670px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .reasons-container, .answers-container, .rules-container {
        height: 570px;
    }
}
@media screen and (max-width: 1199px) {
    .reasons-container, .answers-container, .rules-container {
        height: 490px;
    }
}

.rules-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.rules-header {
    font-size: 42px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgb(39,118,239);
    font-family: Roboto-Black;
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .rules-header {
        font-size: 39px;
    }
}
@media screen and (max-width: 1199px) {
    .rules-header {
        font-size: 35px;
    }
}


.rules-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.rules-list-item {
    width: 275px;
    height: 430px;
    position: relative;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .rules-list-item {
        width: 225px;
        height: 382px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .rules-list-item {
        width: 175px;
        height: 300px;
    }
}
@media screen and (max-width: 1199px) {
    .rules-list-item {
        width: 155px;
        height: 252px;
    }
}

.list-item-text {
    position: absolute;
    font-size: 29px;
    font-weight: bold;
    font-family: Roboto-Regular;
    color: white;
    top: 5%;
    left: 5%;
    width: 70%;
    text-transform: uppercase;
    line-height: 150%;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .list-item-text {
        font-size: 24px;
        width: 70%;
        line-height: 150%;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .list-item-text {
        font-size: 18px;
        width: 70%;
        line-height: 150%;
    }
}
@media screen and (max-width: 1199px) {
    .list-item-text {
        font-size: 15px;
        width: 70%;
        line-height: 150%;
    }
}

.first-item {
    background: url("../img/first-background.png") 100% 100% no-repeat;
    background-position: -340px 0;
    background-size: cover;
}
@media screen and (max-width: 1199px) {
    .first-item {
        background: url(../img/first-background.png) 100% 100% no-repeat;
        background-position: -221px 0;
        background-size: cover;
    }
}

.second-item {
    background: url("../img/second-background.png") 100% 100% no-repeat;
    background-position: -205px 0;
    background-size: cover;
}
@media screen and (max-width: 1199px) {
    .second-item {
        background: url(../img/second-background.png) 100% 100% no-repeat;
        background-position: -123px 0;
        background-size: cover;
    }
}

.third-item {
    background: url("../img/third-background.png") 100% 100% no-repeat;
    background-size: cover;
}
.third-item .list-item-text {
    color: black;
}

.fours-item {
    background: url("../img/fours-background.png") 100% 100% no-repeat;
    background-position: -245px 0;
    background-size: cover;
}
@media screen and (max-width: 1199px) {
    .fours-item {
        background: url(../img/fours-background.png) 100% 100% no-repeat;
        background-position: -138px 0;
        background-size: cover;
    }
}


.section-reasons, .section-answers {
    background: rgb(232,232,232);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.reasons-block-container, .answers-block-container {
    background: white;
    margin: 100px 0;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .reasons-block-container, .answers-block-container {
        margin: 50px 0;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .reasons-block-container, .answers-block-container {
        margin: 50px 0;
    }
}
@media screen and (max-width: 1199px) {
    .reasons-block-container, .answers-block-container {
        margin: 50px 0;
    }
}

.reasons-container, .answers-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reasons-header, .answers-header, .footer-header {
    font-size: 36px;
    font-weight: 500;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: rgb(39,118,239);
    font-family: Roboto-Black;
    margin-top: 9%;
}
.answers-header {
    font-size: 50px;
}
.footer-header {
    font-size: 65px;
    font-weight: bold;
    margin-top: 6%;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .reasons-header {
        font-size: 32px;
    }
    .answers-header {
        font-size: 45px;
    }
    .footer-header {
        font-size: 61px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .reasons-header {
        font-size: 25px;
    }
    .answers-header {
        font-size: 36px;
    }
    .footer-header {
        font-size: 52px;
    }
}
@media screen and (max-width: 1199px) {
    .reasons-header {
        font-size: 21px;
    }
    .answers-header {
        font-size: 32px;
    }
    .footer-header {
        font-size: 44px;
    }
}

.reasons-content, .answers-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 35px;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .reasons-content, .answers-content {
        margin-top: 31px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .reasons-content, .answers-content {
        margin-top: 24px;
    }
}
@media screen and (max-width: 1199px) {
    .reasons-content, .answers-content {
        margin-top: 20px;
    }
}

.reasons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.reasons-list-item-symbol {
    margin-right: 17px;
}

/*.reasons-list-item-text, .reasons-call-text {*/
/*font-family: Roboto-Regular;*/
/*font-size: 24px;*/
/*font-weight: normal;*/
/*text-align: justify;*/
/*line-height: 125%;*/
/*}*/

.reasons-call-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: rgb(39,118,239);
    /*margin-top: 8%;*/
    margin-top: 92px;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .reasons-call-block {
        margin-top: 83px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .reasons-call-block {
        margin-top: 65px;
    }
}
@media screen and (max-width: 1199px) {
    .reasons-call-block {
        margin-top: 53px;
    }
}

.bid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: rgb(219,0,0);
    padding: 20px 72px;
    margin-top: 35px;
}

.bid-text {
    color: white;
    font-size: 23px;
    font-family: Roboto-Regular;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .bid-text{
        font-size: 19px;
    }
    .bid {
        padding: 17px 55px;
        margin-top: 31px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .bid-text{
        font-size: 18px;
    }
    .bid {
        padding: 16px 50px;
        margin-top: 24px;
    }
}
@media screen and (max-width: 1199px) {
    .bid-text{
        font-size: 19px;
    }
    .bid {
        padding: 16px 42px;
        margin-top: 20px;
    }
}

.section-about {
    background: url("../img/block9-background.jpg") 100% 100% no-repeat;
    background-size: cover;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about-block-container {
    background: white;
    margin: 100px 0;
}

.about-container {
    height: 890px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .about-container {
        height: 800px;
    }
}
@media screen and (max-width: 1199px) {
    .about-container {
        height: 740px;
    }
}

.about-header {
    font-size: 57px;
    font-weight: 500;
    letter-spacing: -1px;
    text-transform: uppercase;
    color: rgb(39,118,239);
    font-family: Roboto-Black;
    margin-top: 4%;
}
@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .about-header {
        font-size: 42px;
        margin-top: 4%;
    }
}
@media screen and (max-width: 1199px) {
    .about-header {
        font-size: 30px;
        margin-top: 4%;
    }
}

.about-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-top: 5%;
}

.about-content-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 30%;
}

.block-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-bottom: 53px;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .brands-item {
        padding-bottom: 110px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .block-item {
        padding-bottom: 25px;
    }
    .brands-item {
        padding-bottom: 130px;
    }
}
@media screen and (max-width: 1199px) {
    .block-item {
        padding-bottom: 25px;
    }
    .brands-item {
        padding-bottom: 105px;
    }
}

.block-item-header {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(39,118,239);
    font-family: Roboto-Black;
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .block-item-header {
        font-size: 15px;
    }
}
@media screen and (max-width: 1199px) {
    .block-item-header {
        font-size: 12px;
    }
}

.block-item-text {
    font-size: 19px;
    font-weight: 500;
    line-height: 130%;
    font-family: Roboto-Regular;
    margin-top: 2%;
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .block-item-text {
        font-size: 17px;
        margin-top: 2%;
    }
}
@media screen and (max-width: 1199px) {
    .block-item-text {
        font-size: 14px;
        margin-top: 2%;
    }
}

.hero-block .block-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.brands-block {
    width: 33%;
}

.brands-options {
    margin-top: 5%;
    width: 80%;
    height: 80%;
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .brands-options {
        width: 100%;
    }
}
@media screen and (max-width: 1199px) {
    .brands-options {
        width: 100%;
    }
}

.content-description {
    font-size: 24px;
    font-family: Roboto-Regular;
    font-weight: 500;
    text-align: center;
}
.end-description {
    font-size: 25px;
    margin-top: 35px;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .content-description {
        font-size: 23px;
    }
    .end-description {
        font-size: 24px;
        margin-top: 31px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .content-description {
        font-size: 21px;
    }
    .end-description {
        font-size: 22px;
        margin-top: 24px;
    }
}
@media screen and (max-width: 1199px) {
    .content-description {
        font-size: 18px;
    }
    .end-description {
        font-size: 19px;
        margin-top: 20px;
    }
}


.answers-list-header {
    font-size: 25px;
    font-family: Roboto-Black;
    font-weight: bold;
    margin-top: 94px;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .answers-list-header {
        font-size: 23px;
        margin-top: 31px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .answers-list-header {
        font-size: 19px;
        margin-top: 16px;
    }
}
@media screen and (max-width: 1199px) {
    .answers-list-header {
        font-size: 17px;
        margin-top: 13px;
    }
}


.answers-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.answers-list-item {
    margin-top: 2%;
    margin-top: 24px;
}
.answers-list-item-text {
    font-size: 25px;
    font-family: Roboto-Regular;
    font-weight: normal;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .answers-list-item-text {
        font-size: 22px;
    }
    .answers-list-item {
        margin-top: 21px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .answers-list-item-text {
        font-size: 18px;
    }
    .answers-list-item {
        margin-top: 16px;
    }
}
@media screen and (max-width: 1199px) {
    .answers-list-item-text {
        font-size: 15px;
    }
    .answers-list-item {
        margin-top: 13px;
    }
}

.answers-list .answers-list-item:before {
    content:  "—";
    position: relative;
    left: -5px;
}

.section-footer {
    background: rgb(232,232,232);
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer-block-container {
    background: white;
    margin: 0 0 100px 0;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .footer-block-container {
        margin: 0 0 50px 0;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .footer-block-container {
        margin: 0 0 50px 0;
    }
}
@media screen and (max-width: 1199px) {
    .footer-block-container {
        margin: 0 0 50px 0;
    }
}

.footer-container {
    height: 997px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .footer-container {
        height: 900px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .footer-container {
        height: 720px;
    }
}
@media screen and (max-width: 1199px) {
    .footer-container {
        height: 550px;
    }
}


.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 5%;
    width: 100%;
}

.footer-content-header {
    font-size: 32px;
    font-family: Roboto-Regular;
    font-weight: bold;
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .footer-content-header {
        font-size: 25px;
    }
}
@media screen and (max-width: 1199px) {
    .footer-content-header {
        font-size: 20px;
    }
}

.figures-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 59px;
    width: 100%;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .figures-container {
        margin-top: 52px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .figures-container {
        margin-top: 41px;
    }
}
@media screen and (max-width: 1199px) {
    .figures-container {
        margin-top: 33px;
    }
}


.figure-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.figure-image-options {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid rgb(39,118,239);
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .figure-image-options {
        height: 178px;
        width: 178px;
    }
}
@media screen and (max-width: 1199px) {
    .figure-image-options {
        height: 125px;
        width: 125px;
    }
}

.figcaption-text {
    font-size: 22px;
    font-family: Roboto-Regular;
    font-weight: bold;
    margin-top: 16px;
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .figcaption-text {
        font-size: 21px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 1199px) {
    .figcaption-text {
        font-size: 16px;
        margin-top: 8%;
        margin-top: 11px;
    }
}


.contacts-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-top: 35px;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .contacts-container {
        margin-top: 31px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .contacts-container {

        margin-top: 24px;
    }
}
@media screen and (max-width: 1199px) {
    .contacts-container {

        margin-top: 20px;
    }
}


.footer-content .bid {
    margin-top: 0;
}

.footer-content .bid-text {
    font-size: 27px;
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .footer-content .bid-text {
        font-size: 18px;
    }
}
@media screen and (max-width: 1199px) {
    .footer-content .bid-text {
        font-size: 18px;
    }
}

.contacts-image {
    width: 381px;
    height: 286px;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .contacts-image {
        width: 320px;
        height: 250px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .contacts-image {
        width: 232px;
        height: 175px;
    }
}
@media screen and (max-width: 1199px) {
    .contacts-image {
        width: 175px;
        height: 125px;
    }
}

.contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.email-contact {
    margin-top: 7%;
}
.contact-text {
    margin-left: 25px;
    font-size: 23px;
    font-family: Roboto-Regular;
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .contact-text {
        font-size: 19px;
    }
}
@media screen and (max-width: 1199px) {
    .contact-text {
        font-size: 13px;
    }
}

.phone-icon {
    background: url(../img/contacts-sprite.png) no-repeat -1px 0;
    width: 31px;
    height: 33px;
}

.email-icon {
    background: url(../img/contacts-sprite.png) no-repeat 0 -59px;
    width: 40px;
    height: 25px;
}

.phone {
    margin-left: 33px;
}

.footer-conclusion {
    font-size: 45px;
    font-family: Roboto-Regular;
    color: rgb(39,118,239);
    font-weight: 700;
    margin-top: 24px;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .footer-conclusion {
        font-size: 38px;
        margin-top: 21px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .footer-conclusion {
        font-size: 30px;
        margin-top: 16px;
    }
}
@media screen and (max-width: 1199px) {
    .footer-conclusion {
        font-size: 25px;
        margin-top: 13px;
    }
}

/*--------------------------------------------------------*/

.first-section{
    width: 100%;
}

.title-section{
    font-family: "Roboto-Black";
    font-size: 60px;
    color: #2776ef;
    margin-top: 90px;
    margin-bottom: 80px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .title-section{
        font-size: 50px;
        margin-top: 70px;
        margin-bottom: 60px;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .title-section{
        font-size: 40px;
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: center;
    }
}
@media screen and (max-width: 1199px) {
    .title-section{
        font-size: 32px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
    }
}

.first-section-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.blocks-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.section-block{
    width: 50%;
    height: 415px;
    background-color: #e8e8e8;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .section-block{
        width: 50%;
        height: 415px;
        background-color: #e8e8e8;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .section-block{
        width: 50%;
        height: 335px;
        background-color: #e8e8e8;
    }
}
@media screen and (max-width: 1199px) {
    .section-block{
        width: 50%;
        height: 240px;
        background-color: #e8e8e8;
    }
}

.block1{
    background: url(../img/block1.png) 100% 100% no-repeat;
    background-size: cover;
}

.block2{
    background: url(../img/block2.png) 100% 100% no-repeat;
    background-size: cover;
}

.block3{
    background: url(../img/block3.png) 100% 100% no-repeat;
    background-size: cover;
}
@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .block3{
        background: url(../img/block3.png) 41% 100% no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 1199px) {
    .block3{
        background: url(../img/block3.png) 41% 100% no-repeat;
        background-size: cover;
    }
}

.block4{
    background: url(../img/block4.png) 100% 100% no-repeat;
    background-size: cover;
}

.block5{
    background: url(../img/block5.png) 100% 100% no-repeat;
    background-size: cover;
}

.block6{
    background: url(../img/block6.png) 100% 100% no-repeat;
    background-size: cover;
}
@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .block6{
        background: url(../img/block6.png) 40% 100% no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 1199px) {
    .block6{
        background: url(../img/block6.png) 40% 100% no-repeat;
        background-size: cover;
    }
}

.block7{
    background: url(../img/block7.png) 100% 100% no-repeat;
    background-size: cover;
}

.block8{
    background: url(../img/block8.png) 100% 100% no-repeat;
    background-size: cover;
}

.block-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.block-text-width{
    width: 425px;
    font-family: "Roboto-Regular";
    font-size: 32px;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .block-text-width{
        width: 425px;
        font-family: "Roboto-Regular";
        font-size: 32px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .block-text-width{
        width: 375px;
        font-family: "Roboto-Regular";
        font-size: 25px;
    }
}
@media screen and (max-width: 1199px) {
    .block-text-width{
        width: 285px;
        font-family: "Roboto-Regular";
        font-size: 19px;
    }
}

.second-section{
    width: 100%;
    background: url(../img/second-section.png) 100% 100% no-repeat;
    background-size: cover;
}

.second-section-title{
    font-family: "Roboto-Black";
    font-size: 39px;
    color: #2776ef;
    margin-top: 85px;
    margin-bottom: 80px;
    text-align: center;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .second-section-title{
        font-size: 35px;
        margin-top: 70px;
        margin-bottom: 65px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .second-section-title{
        font-size: 27px;
        margin-top: 65px;
        margin-bottom: 65px;
    }
}
@media screen and (max-width: 1199px) {
    .second-section-title{
        font-size: 22px;
        margin-top: 40px;
        margin-bottom: 32px;
    }
}

.second-section-card{
    width: 100%;
    background-color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 70px;
}

.second-section-card-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 65%;
}

.second-section-card-img{
    width: 35%;
    background: url(../img/card-img.png) 100% 100% no-repeat;
    background-size: cover;
}
@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .second-section-card-img{
        background: url(../img/card-img.png) 18% 100% no-repeat;
        background-size: cover;
    }
}
@media screen and (max-width: 1199px) {
    .second-section-card-img{
        background: url(../img/card-img.png) 18% 100% no-repeat;
        background-size: cover;
    }
}

.second-section-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.reasons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.first-ul{
    margin: 50px 60px 100px 135px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .first-ul{
        margin: 40px 50px 90px 110px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .first-ul{
        margin: 40px 50px 90px 110px;
    }
}
@media screen and (max-width: 1199px) {
    .first-ul{
        margin: 40px 50px 90px 110px;
    }
}

.reasons-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    /*margin-top: 5%;*/
    margin-top: 58px;
}
@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .reasons-list-item {
        margin-top: 62px;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1550px) {
    .reasons-list-item {
        margin-top: 49px;
    }
}
@media screen and (max-width: 1199px) {
    .reasons-list-item {
        margin-top: 40px;
    }
}

.reasons-list-item-text, .reasons-call-text {
    font-family: "Roboto-Regular";
    font-size: 24px;
    font-weight: normal;
    text-align: justify;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .reasons-list-item-text {
        font-size: 19px;
    }
    .reasons-call-text {
        font-size: 21px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .reasons-list-item-text, .reasons-call-text{
        font-size: 19px;
    }
}
@media screen and (max-width: 1199px) {
    .reasons-list-item-text {
        font-size: 14px;
    }
    .reasons-call-text {
        font-size: 16px;
    }
}

.third-section{
    width: 100%;
    background-color: #e8e8e8;
}

.placeholder-section{
    width: 100%;
    background-color: white;
    margin: 125px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .placeholder-section{
        margin: 80px 0;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .placeholder-section{
        margin: 80px 0;
    }
}
@media screen and (max-width: 1199px) {
    .placeholder-section{
        margin: 80px 0;
    }
}

.section3-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 105px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .section3-content{
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .section3-content{
        margin-bottom: 55px;
    }
}
@media screen and (max-width: 1199px) {
    .section3-content{
        margin-bottom: 50px;
    }
}

.column{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.item-sect{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 5px;
}

.item-sect-img{
    background: url(../img/sprites-section-3.png) no-repeat;
    width: 35px;
    height: 30px;
}

.it-sect-img2{
    background-position-y: -36px;
}

.it-sect-img3{
    background-position-y: -72px;
}

.it-sect-img4{
    background-position-y: -108px;
}

.it-sect-img5{
    background-position-y: -146px;
}

.it-sect-img6{
    background-position-y: -192px;
}

.it-sect-img7{
    background-position-y: -244px;
}

.it-sect-img8{
    background-position-y: -280px;
}

.it-sect-img9{
    background-position-y: -316px;
}

.it-sect-img10{
    background-position: -37px 0;
}

.it-sect-img11{
    background-position: -39px -38px;
}

.it-sect-img12{
    background-position: -39px -74px;
}

.it-sect-img13{
    background-position: -39px -109px;
}

.it-sect-img14{
    background-position: -39px -148px;
}

.it-sect-img15{
    background-position: -39px -185px;
}

.it-sect-img16{
    background-position: -39px -222px;
}

.it-sect-img17{
    background-position: -39px -255px;
}

.it-sect-img18{
    background-position: -39px -299px;
}

.it-sect-img19{
    background-position: -39px -340px;
}

.it-sect-img20{
    background-position: -85px 0;
}

.it-sect-img21{
    background-position: -85px -48px;
}

.it-sect-img22{
    background-position: -85px -85px;
}

.it-sect-img23{
    background-position: -85px -123px;
}

.it-sect-img24{
    background-position: -85px -157px;
}

.it-sect-img25{
    background-position: -85px -194px;
}

.it-sect-img26{
    background-position: -85px -232px;
}

.it-sect-img27{
    background-position: -85px -272px;
}

.it-sect-img28{
    background-position: -85px -310px;
}

.it-sect-img29{
    background-position: -85px -345px;
}

.it-sect-img30{
    background-position: -125px 0;
}

.it-sect-img31{
    background-position: -125px -42px;
}

.it-sect-img32{
    background-position: -125px -76px;
}

.it-sect-img33{
    background-position: -125px -112px;
}

.it-sect-img34{
    background-position: -125px -150px;
}

.it-sect-img35{
    background-position: -125px -187px;
}

.it-sect-img36{
    background-position: -125px -224px;
}

.it-sect-img37{
    background-position: -125px -266px;
}

.it-sect-img38{
    background-position: -125px -307px;
}

.it-sect-img39{
    background-position: -125px -355px;
}

.item-sect-text{
    font-family: "Roboto-Regular";
    font-size: 18px;
    width: 198px;
    margin-left: 10px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .item-sect-text{
        font-size: 15px;
        width: 165px;
        margin-left: 8px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .item-sect-text{
        font-size: 15px;
        width: 165px;
        margin-left: 8px;
    }
}
@media screen and (max-width: 1199px) {
    .item-sect-text{
        font-size: 12px;
        width: 135px;
        margin-left: 9px;
    }
    .column {
        margin-right: 10px;
    }
}

.fourth-section{
    background: url(../img/fourth-section.png) no-repeat;
    background-size: cover;
    width: 100%;
}

.fourth-title{
    font-family: "Roboto-Black";
    font-size: 57px;
    color: #2776ef;
    text-align: center;
    margin: 60px 0 55px 0;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .fourth-title{
        font-size: 50px;
        margin: 50px 0 45px 0;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .fourth-title{
        font-size: 42px;
        margin: 42px 0 40px 0;
    }
}
@media screen and (max-width: 1199px) {
    .fourth-title{
        font-size: 30px;
        margin: 32px 0 30px 0;
    }
}

.fourth-inner{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.img{
    background-size: cover;
    width: 100%;
    height: 10%;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .img{
        height: 10%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .img{
        height: 10%;
    }
}
@media screen and (max-width: 1199px) {
    .img{
        height: 10%;
    }
}

.img1{
    background: url(../img/img1.png) no-repeat;
    background-size: cover;

}

.img2{
    background: url(../img/img2.png) no-repeat;
    background-size: cover;

}

.img3{
    background: url(../img/img3.png) no-repeat;
    background-size: cover;

}

.img4{
    background: url(../img/img4.png) no-repeat;
    background-size: cover;

}

.img5{
    background: url(../img/img5.png) no-repeat;
    background-size: cover;

}

.img6{
    background: url(../img/img6.png) no-repeat;
    background-size: cover;

}

.img7{
    background: url(../img/img7.png) no-repeat;
    background-size: cover;

}

.img8{
    background: url(../img/img8.png) no-repeat;
    background-size: cover;

}

.img9{
    background: url(../img/img9.png) no-repeat;
    background-size: cover;

}

.fourth-cards-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 7500px;
    width: 100%;
    margin-bottom: 125px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .fourth-cards-container{
        height: 6770px;/*5580*/
        margin-bottom: 80px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .fourth-cards-container{
        height: 5360px;/*5580*/
        margin-bottom: 65px;
    }
}
@media screen and (max-width: 1199px) {
    .fourth-cards-container{
        height: 4360px;
        margin-bottom: 55px;
    }
}

.five-section{
    background-color: #e7e7e7;
    width: 100%;
}

.five-section-card{
    background-color: white;
    margin: 100px 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .five-section-card{
        margin: 50px 0;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .five-section-card{
        margin: 50px 0;
    }
}
@media screen and (max-width: 1199px) {
    .five-section-card{
        margin: 50px 0;
    }
}

.five-title{
    font-family: "Roboto-Black";
    text-transform: uppercase;
    font-size: 39px;
    font-weight: bold;
    color: #2776ef;
    width: 69%;
    line-height: 50px;
    margin-top: 135px;
    margin-bottom: 115px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .five-title{
        font-size: 36px;
        width: 60%;
        margin-top: 100px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .five-title{
        font-size: 34px;
        width: 60%;
        margin-top: 100px;
    }
}
@media screen and (max-width: 1199px) {
    .five-title {
        font-size: 30px;
        line-height: 45px;
        width: 60%;
        margin-top: 100px;
    }
}

.five-text{
    font-family: "Roboto-Regular";
    font-size: 40px;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .five-text{
        font-size: 35px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .five-text{
        font-size: 35px;
    }
}
@media screen and (max-width: 1199px) {
    .five-text{
        font-size: 30px;
    }
}

.five-bold-text{
    font-weight: bold;
}

.five-section-inner{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
}

.five-sect-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 300px;
}
@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .five-sect-container{
        margin-bottom: 190px;
    }
}
@media screen and (max-width: 1199px) {
    .five-sect-container{
        margin-bottom: 95px;
    }
}

.five-img{
    background: url(../img/five-sect-img.png) 100% 100% no-repeat;
    background-size: cover;
    height: 565px;
    position: absolute;
    right: -119px;
    top: 77px;
    width: 48%;
}

@media screen and (min-width: 1550px) and (max-width: 1780px) {
    .five-img{
        height: 528px;
        width: 51%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1549px) {
    .five-img{
        height: 455px;
        width: 56%;
    }
}
@media screen and (max-width: 1199px) {
    .five-img{
        height: 360px;
        width: 54%;
        right: -95px;
    }
}